# Set 404 to Homepage
ErrorDocument 404 http://wildphp.com

# Clean URLs
RewriteEngine on
RewriteRule ^([a-zA-Z0-9-]+)$ index.php?page=$1

# Old URL Redirects
Redirect /scripts/simple-php-irc-bot/ http://wildphp.com/tutorials.php?page=simple-irc-bot
Redirect /scripts/simple-php-irc-logger/ http://wildphp.com/tutorials.php?page=simple-irc-logger
Redirect /articles/removing-the-php-extension-from-a-url/ http://wildphp.com/tutorials.php?page=removing-extension