/* Tag Styles */
body {
	padding: 0px;
	margin: 0px;
}

/* Multi-line CSS */
.light-fill {
	background-color: #f8f8f8;
	height: 50px;
	border-bottom: 1px solid #e0e0e0;
}
.action-text {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	padding: 20px;
	margin: 0px;
}
.action-box {
	background-color: #f0f0f0;
	border-bottom: 1px solid #e1e1e1;
}
.action-img {
	text-align: center;
}
.download-text {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}
.download-text a{
	margin-left: 20px;
}
.huge {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	width: 180px; height: 20px;
	padding: 20px;
}

/* Single Line Hacks */
.left { float: left; }
.right { float: right; }
.small-pad { padding-right: 540px; }
.light { background-color: #f8f8f8; }
.span1 img { position: relative; left: 40px; top: -2px; }
.nav { padding-top: 6px; }